@import url("https://fonts.cdnfonts.com/css/clash-display");
@import url("https://fonts.cdnfonts.com/css/maven-pro-2");
@import url("https://fonts.cdnfonts.com/css/source-sans-pro");

@font-face {
  font-family: Primary;
  src: url(./assets/fonts/primary.woff2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  .hero{
    background: url(./assets//bg.png) center center no-repeat;
    background-size: cover;
  }
}